# ignore file system metadata
.directory

# ignore editor configuration data
nbproject
.brackets.json
.idea/

# ignore installed dependencies
node_modules/
test/example/

# temporary data
.grunt/
.vagrant/
.coverage/
Gruntfile.json
codeclimate.txt
*.log


