# ignore file system metadata
.directory

# ignore editor configuration data
nbproject
.brackets.json
.idea/

# ignore installed dependencies
node_modules/
test/example/

# temporary data
.grunt/
npm-debug.log
Gruntfile.json
codeclimate.txt


