# ignore file system metadata
.directory

# ignore editor configuration data
nbproject
.brackets.json
.idea

# ignore installed dependencies
node_modules

# temporary data
npm-debug.log
Gruntfile.json
test-coverage
lcov.info
