[mysqld]
#GENERAL
#skip-name-resolve
#skip-host-cache

user                        = mysql
port                        = 3306
default_storage_engine      = InnoDB
socket                      = /var/run/mysqld/mysqld.sock
pid_file                    = /var/run/mysqld/mysqld.pid
datadir                     = /var/lib/mysql
performance_schema          = off

#INNODB
innodb_buffer_pool_size     = 128M
innodb_log_buffer_size      = 8M
innodb_log_file_size        = 48M
#innodb_file_per_table       = 1
#innodb_flush_method         = O_DIRECT
#innodb_sort_buffer_size     = 64K
#innodb_use_sys_malloc       = 1
#innodb_ft_cache_size        = 1600000
#innodb_ft_total_cache_size  = 32000000

#Logging
slow_query_log              = 1
slow_query_log_file         = /var/log/mysql/slow.log
log_error                   = /var/log/mysql/error.log

#settings that relate to the binary log (if enabled)
#binlog_cache_size           = 4K
#binlog_stmt_cache_size      = 4K

#OTHER
#key_buffer                  = 8M
#query_cache_size            = 0
#max_connections             = 10
#thread_cache_size           = 0
#host_cache_size             = 0
#query_cache_type            = 0
#table_open_cache            = 800
#open_files_limit            = 65535
#thread_stack                = 131072
#sort_buffer_size            = 32K
#read_buffer_size            = 8200
#read_rnd_buffer_size        = 8200
#max_heap_table_size         = 16K
#tmp_table_size              = 1K
#bulk_insert_buffer_size     = 0
#join_buffer_size            = 128
#net_buffer_length           = 1K

[client]
socket                      = /var/run/mysqld/mysqld.sock
port                        = 3306
